<%- include('./layouts/head',
{title: 'Sign In'}
) %>
<%- include('./layouts/header') %>
<!-- Banner Area Starts -->
<div class="login-area">
    <section class="banner-area">
        <div class="container">
            <div class="row">
                <div class="contact-form form-area">
                    <h2>Login</h2>
                    <% if(hasErrors) { %>
                        <div class="alert alert-danger">
                            <% messages.forEach(function(message){ %>
                                <span><%= message %></span>
                            <% }) %>
                        </div>
                    <% } %>
                    <form id="login-form" action="/user/login" method="POST">
                        <input type="email" class="" id="email" placeholder="Enter email" name="email">
                        <input type="password" class="" id="password" placeholder="Enter password" name="password">
                        <button type="submit" class="template-btn">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Banner Area End -->
<%- include('./layouts/footer',
) %>
