.time-item{
    margin: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.doctor-item{
    margin: 10px;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
}

.img-account-box{
 position: relative;
 display: inline-block;
 width: 30px;
 height: 12px;
 
}

.img-account{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

/* .img-account::before{
    width: 30px;
 } */

.form-area input {
    width: 100%;
    border: 1px solid #f9f9f9;
    padding: 12px 20px;
    margin-bottom: 20px
}

