.time-item{
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}
.doctor-item{
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}
.img-account-box{
 position: relative;
 display: inline-block;
 width: 30px;
 height: 12px;
 
}

.img-account{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

/* .img-account::before{
    width: 30px;
 } */
